<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Configuration-->
    <add key="SPOSiteURL" value="https://infyakash.sharepoint.com/sites/AHFCMProd" />
    <add key="SPOUserName" value=""/>
    <add key="SPOPassword" value=""/>
    <add key="OutputFilePath" value="C:\AHFC\"/>

    <!--Sharepoint Libraries-->
    <add key="SPOFolder10K10Q" value="10Q and 10K Filing"/>
    <add key="SPOFolder8KOther" value="8K Other Filing" />
    <add key="SPOFolderPresentation" value="Presentation"/>
    <add key="SPOFolderPresentationThumbnail" value="Presentation Thumbnail"/>
    <add key="SPOFolderPresentationThumbnailInternalName" value="Presentation_Thumbnail"/>
    <add key="SPOFolderEvents" value="Events" />
    <add key="SPOFolderNewsPressRelease" value="News and Press Releases" />
    <add key="SPOFolderGallery" value="Gallery" />
    <add key="SPOFolderGalleryThumbnail" value="Thumbnail Images" />
    <add key="SPOFolderGalleryThumbnailInternalName" value="Thumbnail_Images" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net>
</configuration>